*.suo
*.csproj.user
obj/
bin/
*.ncb
*.log
*.cache
*.user
*/_*
*Reports/_*
doc/
*.InstallLog
TestResult.xml
*SSIS/_*
*Resharper.*
CompressedExe/
CompressedMSM/
CompressedMsi/
*.orig
*.[mM][dD][fF]
*.[lL][dD][fF]
*.rdl.data
Compressed/
_ReSharper*
Artifacts/**
Installer/Debug/**
UpgradeLog.XML
.vs

# utilities
!nunit*.exe
!octo.exe
*.nuspec
